<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--名称空间和id组合查找对应的sql语句-->
<!--使用面向接口时命名空间必须为接口的全类名-->
<mapper namespace="cn.melon.dao.UserMapper">

    <select id="selectOneUser1" resultType="cn.melon.model.User">
        select id, username, password, reg_date regDate, state
        from users
        where id = #{id}
    </select>

    <!--使用面向接口时，id为抽象方法名-->
    <!--配置mapUnderscoreToCamelCase = true后不需要为reg_date取别名-->
    <!--该语句属于mysql-->
    <select id="getOneUser2" databaseId="mysql" resultType="cn.melon.model.User">
        select *
        from users
        where id = #{id}
    </select>


</mapper>